/* Global settings */

@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;500;600;800&display=swap");

html {
  font-size: 10px;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
  overflow-x: hidden !important;
}

/* Styling contents */

main {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: space-around;
  margin: 0 10rem;
}

section {
  /* width: 40rem; */
  transition: height 2s;
}

.img {
  width: 40rem;
  height: 50rem;
  background-position: center;
  background-size: cover;
}

.img-one{
  background-image: url(./img/1.jpg);
}
.img-two{
  background-image: url(./img/2.jpg);
}
.img-three{
  background-image: url(./img/3.jpg);
}

.container-description {
  margin: 1rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

h2 {
  font-family: inherit;
  font-size: 2.3rem;
  font-weight: 600;
  width: 100%;
  text-align: center;
  letter-spacing: 0;
}

.feedback-item {
  font-size: 2rem;
  display: inline-block;
  margin-bottom: 2rem;
}

.star {
  margin-right: 1rem;
}

.rating {
  margin-right: 3rem;
}

.likes {
  margin-right: 1rem;
}

.fa-star {
  color: goldenrod;
}

.fa-heart {
  color: #77777755;
}

.two > .fa-heart {
  color: red;
}

span.item-description {
  display: inline-block;
  margin-bottom: 2rem;
  font-size: 1.6rem;
  font-family: inherit;
  font-weight: 300;
  color: #777777;
  text-align: center;
}

.btn-container {
  display: flex;
  justify-content: center;
}

button {
  margin: 0 1rem;
  padding: 0.7rem 3.5rem;
  border: 0.5rem solid black;
  font-family: inherit;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 800;
  cursor: pointer;
  transition: all 0.5s ease;
}

button.cart {
  background-color: black;
  color: #fff;
}

button.view {
  background-color: #fff;
  color: #000;
}

section:hover {
  background: linear-gradient(
    0deg,
    rgba(166, 166, 166, 0.2) 0%,
    rgba(110, 110, 110, 0) 3%
  );
}

button:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

@media (max-width: 1500px) {
  main {
    margin: 0rem;
  }
}

@media (max-width: 1300px) {
  main {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
  }
  .one {
    margin-top: 5rem;
  }
  .two {
    margin: 5rem 0;
  }

  .three {
    margin-bottom: 5rem;
  }
}
